.title-forgot-password{
    text-align: center;
    margin-top: 60px;
}
.wrap-input-gmail{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.input-email{
     padding-left: 20px;
    background-color: #c3d4f5;
    width: 500px;
    border-radius: 20px;
    height: 40px;
    outline: none;
    border: none;
}
.wrap-submit-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;   
}
.submit-btn{
     width: 500px;
    border-radius: 20px;
    background-color: black;
    border: none;
    color: white;
    height: 32px;
    margin-top: 40px;
}
.wrap-link-sign-up{
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 20px;
}
.sign-up-link{
    color:#ff1212;
}
.sign-up-link:hover{
    color:#ff1212;
}