.btn-white{
    background-color: #fff;
}
.white-space-nowrap{
    white-space: nowrap;
}
.wrap-content{
    height: 60px;
    background-color: #1c9ef4;
    width: 100%;
}
.content{
    display: flex;
    align-items: center;
}
.left-content{
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo-image{
    width: 60px;
}
.dropdown {
    position: relative;
    display: inline-block;
    top: 0px;
}
.dropdown-content:before{
    content: "";
    background-color: transparent;
    width: 120px;
    height: 10px;
    position: absolute;
    top: -10px;
    left: 0;

}
.dropdown-content {
    margin-top: 4px;
    list-style: none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 0px;
    z-index: 1;
    border-radius: 4px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.search{
    position: relative;
}
.search-input{
    width: 300px;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
}
.search-input::placeholder{
    color :#333;
    padding-left: 16px;
}
.search-btn{
    position: absolute;
    right: 0;
    outline: none;
    border: none;
    background: transparent;

}

.right-content{
    gap: 10px;
    width: 100%;
    display: flex;
    justify-content: right;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .search-input{
        width: 200px;
    }


}
@media only screen and (max-width: 768px) {
    .search-input{
        width: 200px;
    }
    .no-mb{
        display: none;
    }
    .container{
        max-width:100%;
    }

}
@media only screen and (max-width: 446px) {
    .search-input{
        width: 150px;
    }
    .no-mb{
        display: none;
    }
    .container{
        max-width:100%;
    }

}
